.tab-selected{ color:black;
    font-size:14px;
    font-family:'Courier New', Courier, monospace;
    Padding: 12px;
    background-color:azure;}
.tab{color:white;
    font-size:14px;
    font-family:'Courier New', Courier, monospace;
    Padding: 12px;
    }
.Pa1{font-size: 17px;}
#contents{font-size: 17px;
font-family: 'Courier New', Courier, monospace;}
.border{border: 0.8px solid;
color:white;
margin-right: 1.5px;}

.Box1{color:white;
    font-size:17px;
    Width:600px;
    text-align: center;
border:2.5px solid white;
display: block;
padding:10px;
margin:auto;}

#Categories{text-align:left;
    font-size:17px;}

.column {
        float: left;
        width: 50%;
        padding: 0px;}
      
      
.row:after {
        content: "";
        display: table-cell;
        clear: both;
        padding:20px;
      }
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  a {
    background-color: gray;
    transition: background-color 0.5s;
  }
  
  a:hover {
    background-color:palevioletred;
  }