@font-face {
    font-family: 'AktivGrotesk-Light';
    src: url(fonts/TTF/AktivGrotesk-Light.ttf);
} 
@font-face {
    font-family: 'AktivGrotesk-Bold';
    src: url(fonts/TTF/AktivGrotesk-Bold.ttf);
    }
@font-face {
    font-family: 'AktivGrotesk-Medium';
    src: url(fonts/TTF/AktivGrotesk-Medium.ttf);
    }
@font-face {
    font-family: 'AktivGrotesk-Regular';
    src: url(fonts/TTF/AktivGrotesk-Regular.ttf);
}
body{
    background-color: white;
    color:black;
    
}
*{font-family: 'AktivGrotesk-Regular';}
img{float:left;
    width:90px;
    height:112px;}
    
.logo{font-family:'AktivGrotesk-Medium';
     padding-top: 1px;
    color:#000}
    
ul{ list-style-type: none;
 margin: 0px;
padding: 0px;
width: 200px;
background-color: #FFFFFF;
z-index: 9;
position: relative;}

li a { display: block;
    color: #282828;
    padding: 25px 20px;
    text-decoration: none;
font-size: 18px;}

/* Change the link color on hover */
li a:hover {
    background-color: #282828;
    color: white;
  }

.address{position:fixed;
    text-align: left;
    padding:25px;
    bottom: 8px;
color:#282828
}
.container{
    width: 100%;
    height:fit-content;
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    top:0;
}
.swiper{
    max-width: 800px;
    width: 100%;
    height:fit-content;
    align-items: space-around;
    justify-content:space-around;

}
.swiper-slide img{
    max-width:800px; 
    width:100%;
    height: fit-content;

}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color:#282828;
}